@import "./assets/style.css";

:root {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ulifeGrey: #959595;
}

a {
  font-size: 0.7rem;
  font-weight: 400;
  color: #646cff;
  text-decoration: none !important;
  text-align: left;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 300px !important;
}

h1 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--ulifeGrey);
}

span {
  
  color: #777;
}

input {
  border-width: 1px;
  border-color: var(--ulifeGrey);
  border-style: solid;
  border-radius: 10px;
}

p {
  color: var(--ulifeGrey);
  font-weight: 400;
}

button {
  border-radius: 8px !important;
  border: NONE;
  font-size: 1em;
  font-weight: bolder;
  font-family: inherit;
  background-color: #1F80E1 !important;
  color: white;
  cursor: pointer;
  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  #app {
    display: inline-grid;
    width: 100%;
    height: 100vh;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
